fastapi
uvicorn[standard]
aiosqlite
python-multipart
starlette
websockets
httpx
aiofiles
pywebpush
pytz
psutil
supabase
gotrue
asyncpg
disnake==2.7.0
Pillow==10.2.0
requests
chess==1.10.0
pymongo==4.6.3
motor==3.3.2
dnspython==2.6.1
